.bg-white{background: #ffffff;}
.login_bg form input[type=text] { border: 0; box-shadow:none; font-size: 12px; font-weight:bold; color:#000}
@media (min-width: 768px) {
  .login_bg.sign_up { padding:100px 40px;}
}
@media (min-width: 992px) {
  .login_bg.sign_up { padding:100px 40px;}
}